<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,111}}</string>
                <key>sourceSize</key>
                <string>{40,111}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{90,94}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shield23.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>sp换装/belt(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{52,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>sp换装/broadsword3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,111},{182,128}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{182,128}}</string>
                <key>sourceSize</key>
                <string>{206,138}</string>
            </dict>
            <key>sp换装/paladin_body(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,239},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>sp换装/paladin_l_arm2(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{54,239},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>sp换装/paladin_l_leg2(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{86,239},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>sp换装/paladin_r_arm2(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{112,239},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>sp换装/pifeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{120,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,95}}</string>
                <key>sourceSize</key>
                <string>{122,95}</string>
            </dict>
            <key>sp换装/scapula3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,294},{64,64}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sp换装/scapula4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,294},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>sp换装/toushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,389},{104,64}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>wea.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,389},{40,112}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,112}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>abc.png</string>
        </dict>
    </dict>
</plist>
