<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magician_fsbelt.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,240},{28,13}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>magician_fsbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>magician_fshat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,66}}</string>
                <key>sourceSize</key>
                <string>{139,66}</string>
            </dict>
            <key>magician_fshat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,189},{51,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,32}}</string>
                <key>sourceSize</key>
                <string>{51,32}</string>
            </dict>
            <key>magician_fshat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,142},{45,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>magician_fshat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,106},{54,34}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{54,34}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>magician_fslarm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,179},{34,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>magician_fslongSkirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{57,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,44}}</string>
                <key>sourceSize</key>
                <string>{57,44}</string>
            </dict>
            <key>magician_fslscapula.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,209},{29,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>magician_fsrarm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,209},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>magician_fsrscapula11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{35,20}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>magician_fsstaves.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{56,102}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{56,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fs_zb.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45e012159e239553aa040713c64d26a3$</string>
            <key>textureFileName</key>
            <string>fs_zb.png</string>
        </dict>
    </dict>
</plist>
