<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,419},{65,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,19}}</string>
                <key>sourceSize</key>
                <string>{65,19}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,593},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>S01_swordeff01副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,487},{141,151}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{141,151}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>S01_swordeff02.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,383},{80,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{80,118}}</string>
                <key>sourceSize</key>
                <string>{90,134}</string>
            </dict>
            <key>belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,419},{54,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,18}}</string>
                <key>sourceSize</key>
                <string>{54,18}</string>
            </dict>
            <key>belt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,618},{54,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,18}}</string>
                <key>sourceSize</key>
                <string>{54,18}</string>
            </dict>
            <key>belt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,618},{54,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,18}}</string>
                <key>sourceSize</key>
                <string>{54,18}</string>
            </dict>
            <key>bows and arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,419},{58,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{58,92}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>bows and arrows2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,419},{58,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{58,92}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>bows and arrows3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,958},{58,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{58,92}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>gongshou_ku_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,638},{116,126}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_ku_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{116,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_ku_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,263},{116,118}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_ku_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{116,92}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{116,92}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_ku_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,120},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_ku_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,372},{116,90}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{116,90}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_ku_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,765},{116,122}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{116,122}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_zc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,135},{116,126}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_zc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,254},{116,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_zc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,889},{116,118}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_zc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,924},{116,92}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{116,92}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_zc_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{116,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_zc_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,926},{116,92}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{116,92}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>gongshou_zc_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,893},{116,124}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,124}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>orc01_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{106,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,116}}</string>
                <key>sourceSize</key>
                <string>{106,116}</string>
            </dict>
            <key>orc01_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,120},{106,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,116}}</string>
                <key>sourceSize</key>
                <string>{106,116}</string>
            </dict>
            <key>orc01_body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{106,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,116}}</string>
                <key>sourceSize</key>
                <string>{106,116}</string>
            </dict>
            <key>orc01_head_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,479},{116,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,137}}</string>
                <key>sourceSize</key>
                <string>{116,137}</string>
            </dict>
            <key>orc01_head_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,280},{116,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,137}}</string>
                <key>sourceSize</key>
                <string>{116,137}</string>
            </dict>
            <key>orc01_head_01f.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,280},{116,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,137}}</string>
                <key>sourceSize</key>
                <string>{116,137}</string>
            </dict>
            <key>orc01_l_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,403},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>orc01_l_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,926},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>orc01_l_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,403},{40,23}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>orc01_l_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,618},{43,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,15}}</string>
                <key>sourceSize</key>
                <string>{43,15}</string>
            </dict>
            <key>orc01_r_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,403},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>orc01_r_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,437},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>orc01_r_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,403},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>orc01_r_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,926},{17,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,29}}</string>
                <key>sourceSize</key>
                <string>{17,29}</string>
            </dict>
            <key>orc01_scapula.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,419},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>skirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,437},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>toothed club.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,593},{43,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,85}}</string>
                <key>sourceSize</key>
                <string>{43,85}</string>
            </dict>
            <key>toothed club2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{61,92}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{61,92}}</string>
                <key>sourceSize</key>
                <string>{65,104}</string>
            </dict>
            <key>toothed club3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,926},{45,94}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{45,94}}</string>
                <key>sourceSize</key>
                <string>{65,104}</string>
            </dict>
            <key>xiaobing_jk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{121,159}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{121,159}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_jk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,141},{117,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{117,137}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_jk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,640},{117,141}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{117,141}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_jk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,638},{117,125}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{117,125}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_jk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{117,131}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{117,131}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_jk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,766},{117,125}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{117,125}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_jk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{117,155}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{117,155}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_ku_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{121,159}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{121,159}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_ku_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{117,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{117,137}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_ku_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,783},{117,141}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{117,141}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_ku_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,135},{117,117}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,43},{117,117}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_ku_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,270},{117,131}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{117,131}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_ku_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,465},{117,117}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,43},{117,117}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_ku_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{117,155}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{117,155}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_zc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,161}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{121,161}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_zc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,783},{117,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{117,139}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_zc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,640},{117,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{117,141}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_zc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,466},{117,125}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,36},{117,125}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_zc_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{117,133}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{117,133}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_zc_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,137},{117,131}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{117,131}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
            <key>xiaobing_zc_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{117,155}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{117,155}}</string>
                <key>sourceSize</key>
                <string>{131,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gw_hz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08874dcb72c01b1e8bf454dc911a51d0$</string>
            <key>textureFileName</key>
            <string>gw_hz.png</string>
        </dict>
    </dict>
</plist>
