<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>game_hb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,644},{606,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,315}}</string>
                <key>sourceSize</key>
                <string>{606,315}</string>
            </dict>
            <key>game_hb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1181},{607,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,309}}</string>
                <key>sourceSize</key>
                <string>{607,309}</string>
            </dict>
            <key>game_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,334},{416,845}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,845}}</string>
                <key>sourceSize</key>
                <string>{416,845}</string>
            </dict>
            <key>game_shijian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1926},{218,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,100}}</string>
                <key>sourceSize</key>
                <string>{218,100}</string>
            </dict>
            <key>game_zhangshu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{218,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,100}}</string>
                <key>sourceSize</key>
                <string>{218,100}</string>
            </dict>
            <key>jiesuan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>jiesuan_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,168},{422,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,164}}</string>
                <key>sourceSize</key>
                <string>{422,164}</string>
            </dict>
            <key>zhu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>zhu_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{422,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,164}}</string>
                <key>sourceSize</key>
                <string>{422,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hongbao.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e55f6b2ea76404b77d884269dcda8922$</string>
            <key>textureFileName</key>
            <string>hongbao.png</string>
        </dict>
    </dict>
</plist>
