<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{640,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,311}}</string>
                <key>sourceSize</key>
                <string>{640,311}</string>
            </dict>
            <key>game_hb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1660},{606,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,315}}</string>
                <key>sourceSize</key>
                <string>{606,315}</string>
            </dict>
            <key>game_hb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,315},{607,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,309}}</string>
                <key>sourceSize</key>
                <string>{607,309}</string>
            </dict>
            <key>game_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{416,845}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,845}}</string>
                <key>sourceSize</key>
                <string>{416,845}</string>
            </dict>
            <key>game_shijian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1811},{218,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,100}}</string>
                <key>sourceSize</key>
                <string>{218,100}</string>
            </dict>
            <key>game_zhangshu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1811},{218,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,100}}</string>
                <key>sourceSize</key>
                <string>{218,100}</string>
            </dict>
            <key>jiesuan_caihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,626},{600,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,297}}</string>
                <key>sourceSize</key>
                <string>{600,297}</string>
            </dict>
            <key>jiesuan_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,2},{422,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,164}}</string>
                <key>sourceSize</key>
                <string>{422,164}</string>
            </dict>
            <key>zhu_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>zhu_hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,964},{557,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,694}}</string>
                <key>sourceSize</key>
                <string>{557,694}</string>
            </dict>
            <key>zhu_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1811},{422,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,164}}</string>
                <key>sourceSize</key>
                <string>{422,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hongbaoNew.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79bdeed7aa30607ec7ad8ec8ab254a33$</string>
            <key>textureFileName</key>
            <string>hongbaoNew.png</string>
        </dict>
    </dict>
</plist>
