<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_public_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2003},{257,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,24}}</string>
                <key>sourceSize</key>
                <string>{257,24}</string>
            </dict>
            <key>box_public_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1784},{257,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,24}}</string>
                <key>sourceSize</key>
                <string>{257,24}</string>
            </dict>
            <key>box_public_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,639},{187,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,24}}</string>
                <key>sourceSize</key>
                <string>{187,24}</string>
            </dict>
            <key>box_public_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2003},{187,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,24}}</string>
                <key>sourceSize</key>
                <string>{187,24}</string>
            </dict>
            <key>box_public_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,864},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>box_public_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,704},{387,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,17}}</string>
                <key>sourceSize</key>
                <string>{387,17}</string>
            </dict>
            <key>box_public_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1972},{41,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,30}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>box_public_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1037},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>box_public_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1780,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1780,165}}</string>
                <key>sourceSize</key>
                <string>{1780,165}</string>
            </dict>
            <key>box_public_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1972},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>box_public_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,638},{672,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,21}}</string>
                <key>sourceSize</key>
                <string>{672,21}</string>
            </dict>
            <key>box_public_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{666,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,94}}</string>
                <key>sourceSize</key>
                <string>{666,94}</string>
            </dict>
            <key>box_public_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1856},{115,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,129}}</string>
                <key>sourceSize</key>
                <string>{115,129}</string>
            </dict>
            <key>box_public_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,639},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>box_public_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,828},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>box_public_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,670},{672,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,21}}</string>
                <key>sourceSize</key>
                <string>{672,21}</string>
            </dict>
            <key>box_public_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1037},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>box_public_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2004},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>box_public_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{634,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,94}}</string>
                <key>sourceSize</key>
                <string>{634,94}</string>
            </dict>
            <key>box_public_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,671},{804,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,94}}</string>
                <key>sourceSize</key>
                <string>{804,94}</string>
            </dict>
            <key>box_public_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,671},{440,669}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,27},{440,669}}</string>
                <key>sourceSize</key>
                <string>{514,733}</string>
            </dict>
            <key>box_public_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1342},{440,659}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{440,659}}</string>
                <key>sourceSize</key>
                <string>{514,733}</string>
            </dict>
            <key>box_public_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{444,667}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{444,667}}</string>
                <key>sourceSize</key>
                <string>{514,733}</string>
            </dict>
            <key>box_public_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1930},{79,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,69}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>box_public_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,568},{94,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,69}}</string>
                <key>sourceSize</key>
                <string>{94,69}</string>
            </dict>
            <key>box_public_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1392},{223,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,221}}</string>
                <key>sourceSize</key>
                <string>{223,221}</string>
            </dict>
            <key>button_public_001_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,704},{385,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{385,98}}</string>
                <key>sourceSize</key>
                <string>{401,114}</string>
            </dict>
            <key>button_public_001_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1477},{385,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{385,98}}</string>
                <key>sourceSize</key>
                <string>{401,114}</string>
            </dict>
            <key>button_public_001_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{401,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,114}}</string>
                <key>sourceSize</key>
                <string>{401,114}</string>
            </dict>
            <key>button_public_002_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,285},{281,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{281,99}}</string>
                <key>sourceSize</key>
                <string>{297,113}</string>
            </dict>
            <key>button_public_002_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{281,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{281,99}}</string>
                <key>sourceSize</key>
                <string>{297,113}</string>
            </dict>
            <key>button_public_002_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1093},{297,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,113}}</string>
                <key>sourceSize</key>
                <string>{297,113}</string>
            </dict>
            <key>button_public_003_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1689},{281,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{281,98}}</string>
                <key>sourceSize</key>
                <string>{297,114}</string>
            </dict>
            <key>button_public_003_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1091},{281,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{281,98}}</string>
                <key>sourceSize</key>
                <string>{297,114}</string>
            </dict>
            <key>button_public_003_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,405},{297,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,114}}</string>
                <key>sourceSize</key>
                <string>{297,114}</string>
            </dict>
            <key>button_public_004_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1615},{239,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{239,98}}</string>
                <key>sourceSize</key>
                <string>{257,116}</string>
            </dict>
            <key>button_public_004_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{257,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,116}}</string>
                <key>sourceSize</key>
                <string>{257,116}</string>
            </dict>
            <key>button_public_005_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1615},{313,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{313,86}}</string>
                <key>sourceSize</key>
                <string>{331,104}</string>
            </dict>
            <key>button_public_005_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1374},{313,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{313,86}}</string>
                <key>sourceSize</key>
                <string>{331,104}</string>
            </dict>
            <key>button_public_005_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,704},{331,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,104}}</string>
                <key>sourceSize</key>
                <string>{331,104}</string>
            </dict>
            <key>button_public_008_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1987},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>button_public_008_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1987},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>button_public_009_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1037},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>button_public_009_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,638},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>tips_public_001_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1864},{149,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,38}}</string>
                <key>sourceSize</key>
                <string>{149,38}</string>
            </dict>
            <key>tips_public_001_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1864},{153,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,38}}</string>
                <key>sourceSize</key>
                <string>{153,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public_dengLu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13c061a055e83361fe42d7d598033f29$</string>
            <key>textureFileName</key>
            <string>public_dengLu.png</string>
        </dict>
    </dict>
</plist>
