<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin5_sqbelt.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,96},{52,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,22}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>paladin5_sqbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,40},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>paladin5_sqbroadsword.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,134}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,190},{180,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>paladin5_sqlarm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,190},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>paladin5_sqlleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,161},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>paladin5_sqlscapula.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{36,57}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>paladin5_sqrarm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,120},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>paladin5_sqrleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,224},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>paladin5_sqrscapula.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,161},{79,75}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,75}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>paladin5_sqtoukui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{120,82}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qs5_zb.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3986d87b10a87a09a127ff5f48ee4d5a$</string>
            <key>textureFileName</key>
            <string>qs5_zb.png</string>
        </dict>
    </dict>
</plist>
