<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoshi_baoshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,527},{75,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>baoshi_baoshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,416},{75,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>baoshi_baoshi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,360},{57,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>baoshi_baoshi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,300},{58,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,81}}</string>
                <key>sourceSize</key>
                <string>{58,81}</string>
            </dict>
            <key>baoshi_baoshi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,1958},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>cj_ach.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1790},{86,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,19}}</string>
                <key>sourceSize</key>
                <string>{86,19}</string>
            </dict>
            <key>cj_cj_back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1625},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>cj_cjbj_jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,689},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>cj_cjbj_jineng_cishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,690},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>cj_cjbj_lianji_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,616},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>cj_cjbj_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,614},{73,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{73,60}</string>
            </dict>
            <key>cj_cjbj_money_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,2},{73,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{73,60}</string>
            </dict>
            <key>cj_cjbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1606},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>cj_cjbz_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,758},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>cj_cjbz_guai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,689},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>cj_cjbz_tiaozhan_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,2},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>cj_cjbz_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,826},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>cj_cjbz_zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,761},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>cj_cjjm_kuangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1578},{520,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,269}}</string>
                <key>sourceSize</key>
                <string>{520,269}</string>
            </dict>
            <key>cj_front_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1606},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>cj_get_jiangli_buton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1993},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>cj_get_jiangli_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1993},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>cj_get_jiangli_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1993},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>fuben_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,687},{35,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,69}}</string>
                <key>sourceSize</key>
                <string>{35,69}</string>
            </dict>
            <key>fuben_back_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,238},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>fuben_back_button_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,77},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>fuben_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fuben_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,616},{35,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,69}}</string>
                <key>sourceSize</key>
                <string>{35,69}</string>
            </dict>
            <key>fuben_gulou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1849},{233,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,162}}</string>
                <key>sourceSize</key>
                <string>{233,162}</string>
            </dict>
            <key>fuben_mukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1542},{380,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,127}}</string>
                <key>sourceSize</key>
                <string>{380,127}</string>
            </dict>
            <key>fuben_start_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1958},{161,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,61}}</string>
                <key>sourceSize</key>
                <string>{161,61}</string>
            </dict>
            <key>fuben_start_button_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,1849},{161,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,61}}</string>
                <key>sourceSize</key>
                <string>{161,61}</string>
            </dict>
            <key>jiesuan_jingyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1606},{340,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,30}}</string>
                <key>sourceSize</key>
                <string>{340,30}</string>
            </dict>
            <key>jiesuan_jixu_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,300},{90,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,40}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>jiesuan_jixu_button_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1993},{90,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,40}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>jiesuan_kuangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,964},{853,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,576}}</string>
                <key>sourceSize</key>
                <string>{853,576}</string>
            </dict>
            <key>jiesuan_lost_china.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,420},{117,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>jiesuan_lost_eglish.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1984},{134,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,55}}</string>
                <key>sourceSize</key>
                <string>{134,55}</string>
            </dict>
            <key>jiesuan_queding_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1993},{90,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,40}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>jiesuan_queding_button_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1890},{90,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,40}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>jiesuan_star_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,497},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>jiesuan_star_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,419},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>jiesuan_win_china.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1984},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>jiesuan_win_eglish.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1790},{141,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,56}}</string>
                <key>sourceSize</key>
                <string>{141,56}</string>
            </dict>
            <key>jiesuan_wupin_gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1993},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>qiandao_bt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,1578},{261,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,90}}</string>
                <key>sourceSize</key>
                <string>{261,90}</string>
            </dict>
            <key>qiandao_bt_china.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,747},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>qiandao_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,300},{90,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,118}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
            <key>qiandao_jm.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1542},{440,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,532}}</string>
                <key>sourceSize</key>
                <string>{440,532}</string>
            </dict>
            <key>qiandao_lingqu_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,493},{71,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,32}}</string>
                <key>sourceSize</key>
                <string>{71,32}</string>
            </dict>
            <key>qiandao_lingqu_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2013},{71,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,32}}</string>
                <key>sourceSize</key>
                <string>{71,32}</string>
            </dict>
            <key>qiandao_lingqu_button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,2013},{71,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,32}}</string>
                <key>sourceSize</key>
                <string>{71,32}</string>
            </dict>
            <key>qiandao_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1947},{90,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,118}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
            <key>qiandao_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2013},{71,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,32}}</string>
                <key>sourceSize</key>
                <string>{71,32}</string>
            </dict>
            <key>shop_back_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,238},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>shop_back_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,77},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shop_buy_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,379},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>shop_buy_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,342},{88,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{88,35}</string>
            </dict>
            <key>shop_fenlei_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1890},{141,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,51}}</string>
                <key>sourceSize</key>
                <string>{141,51}</string>
            </dict>
            <key>shop_fenlei_button_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1890},{141,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,51}}</string>
                <key>sourceSize</key>
                <string>{141,51}</string>
            </dict>
            <key>shop_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{539,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,43}}</string>
                <key>sourceSize</key>
                <string>{539,43}</string>
            </dict>
            <key>shop_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,2013},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>shop_money_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,644},{101,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,23}}</string>
                <key>sourceSize</key>
                <string>{101,23}</string>
            </dict>
            <key>shop_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,2012},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
            <key>shop_shop_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1542},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>shop_wupin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1984},{122,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,45}}</string>
                <key>sourceSize</key>
                <string>{122,45}</string>
            </dict>
            <key>skill_add1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2012},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>skill_add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1984},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>skill_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,918},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>skill_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1606},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>skill_jiemian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{521,282}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{521,282}}</string>
                <key>sourceSize</key>
                <string>{531,282}</string>
            </dict>
            <key>skill_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,847},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,21}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
            <key>zhu_back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,238},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>zhu_back_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,77},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>zhu_baoshi_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1890},{136,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>zhu_bb_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,282},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>zhu_bb_eglise.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1933},{61,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,11}}</string>
                <key>sourceSize</key>
                <string>{61,11}</string>
            </dict>
            <key>zhu_bb_gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,326},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>zhu_bb_jm.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1984},{124,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,54}}</string>
                <key>sourceSize</key>
                <string>{124,54}</string>
            </dict>
            <key>zhu_bb_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{291,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,272}}</string>
                <key>sourceSize</key>
                <string>{291,272}</string>
            </dict>
            <key>zhu_caidan_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,539},{116,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,75}}</string>
                <key>sourceSize</key>
                <string>{116,75}</string>
            </dict>
            <key>zhu_caidan_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1849},{151,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,96}}</string>
                <key>sourceSize</key>
                <string>{151,96}</string>
            </dict>
            <key>zhu_chengjiu_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,292},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>zhu_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,964},{612,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,388}}</string>
                <key>sourceSize</key>
                <string>{612,388}</string>
            </dict>
            <key>zhu_jm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>zhu_juese_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{221,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,296}}</string>
                <key>sourceSize</key>
                <string>{221,296}</string>
            </dict>
            <key>zhu_juese_kuang_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1849},{178,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,62}}</string>
                <key>sourceSize</key>
                <string>{178,62}</string>
            </dict>
            <key>zhu_juese_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1878},{57,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,11}}</string>
                <key>sourceSize</key>
                <string>{57,11}</string>
            </dict>
            <key>zhu_money_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,918},{130,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{130,44}</string>
            </dict>
            <key>zhu_open_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1947},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>zhu_open_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1542},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>zhu_shangcheng_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,1841},{176,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,115}}</string>
                <key>sourceSize</key>
                <string>{176,115}</string>
            </dict>
            <key>zhu_shop_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1542},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,27}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>zhu_shuxing_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,918},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>zhu_skill_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,238},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>zhu_tiaozhan_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,160},{76,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>zhu_tiaozhan_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1924},{98,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhu_tiaozhan_button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,81},{76,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>zhu_zhengzhan_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,2},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>zhu_zhengzhan_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1948},{94,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhu_zhengzhan_button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,419},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>zhu_zhuangbei_gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,752},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wupin.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98bc6135f8f1667b1bcbd2e1219de863$</string>
            <key>textureFileName</key>
            <string>wupin.png</string>
        </dict>
    </dict>
</plist>
