<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barbarian5_ymraxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{98,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{98,106}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>barbarian5_ymrbelt.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,250},{58,21}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>barbarian5_ymrbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,199},{88,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,65}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>barbarian5_ymrlarm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,146},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>barbarian5_ymrlleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,191},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>barbarian5_ymrlleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,204},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>barbarian5_ymrrarm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,116},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
            <key>barbarian5_ymrrleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,223},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>barbarian5_ymrrleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>barbarian5_ymrscapula.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,116},{81,88}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{91,104}</string>
            </dict>
            <key>barbarian5_ymrshield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,128}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,9},{100,128}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>barbarian5_ymrskirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,250},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>barbarian5_ymrtoukui.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{112,112}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{112,112}}</string>
                <key>sourceSize</key>
                <string>{144,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ymr5_zb.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41bd9b4fa8f92c27f89ba084c8e55cc4$</string>
            <key>textureFileName</key>
            <string>ymr5_zb.png</string>
        </dict>
    </dict>
</plist>
