<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barbarian1_ymraxe.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,118},{106,116}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{106,116}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>barbarian1_ymrbelt.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,213},{58,21}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>barbarian1_ymrbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{88,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,65}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>barbarian1_ymrlarm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,130},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>barbarian1_ymrlleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,181},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>barbarian1_ymrlleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,261},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>barbarian1_ymrrarm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,236},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
            <key>barbarian1_ymrrleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,236},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>barbarian1_ymrrleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,236},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>barbarian1_ymrscapula.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{72,72}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>barbarian1_ymrshield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,136}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{126,136}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>barbarian1_ymrskirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,236},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>barbarian1_ymrtoukui.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ymr_zb.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:498a112b5e1cfe867e484887cda67edd$</string>
            <key>textureFileName</key>
            <string>ymr_zb.png</string>
        </dict>
    </dict>
</plist>
