<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zb_fenshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zb_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,231},{242,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,207}}</string>
                <key>sourceSize</key>
                <string>{242,207}</string>
            </dict>
            <key>zd_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,731},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>zd_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,440},{249,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,237}}</string>
                <key>sourceSize</key>
                <string>{249,237}</string>
            </dict>
            <key>zd_baoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,116},{109,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,35}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>zd_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{263,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,241}}</string>
                <key>sourceSize</key>
                <string>{263,241}</string>
            </dict>
            <key>zd_gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,915},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>zd_gongji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,805},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>zd_guaiwu_xuetiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,731},{69,12}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,12}}</string>
                <key>sourceSize</key>
                <string>{75,18}</string>
            </dict>
            <key>zd_guaiwu_xuetiaobk.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,889},{75,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,18}}</string>
                <key>sourceSize</key>
                <string>{75,18}</string>
            </dict>
            <key>zd_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,112}}</string>
                <key>sourceSize</key>
                <string>{302,112}</string>
            </dict>
            <key>zd_head_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,805},{82,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,16}}</string>
                <key>sourceSize</key>
                <string>{82,16}</string>
            </dict>
            <key>zd_head_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{129,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,16}}</string>
                <key>sourceSize</key>
                <string>{129,16}</string>
            </dict>
            <key>zd_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,805},{104,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,35}}</string>
                <key>sourceSize</key>
                <string>{104,35}</string>
            </dict>
            <key>zd_jineng_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>zd_kzq_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{186,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{186,188}}</string>
                <key>sourceSize</key>
                <string>{206,208}</string>
            </dict>
            <key>zd_kzq_zx.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,805},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>zd_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,674},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>zd_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{227,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,192}}</string>
                <key>sourceSize</key>
                <string>{227,192}</string>
            </dict>
            <key>zd_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,617},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zd_xitong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4766536cc987b6b9aac6b0115f515ada$</string>
            <key>textureFileName</key>
            <string>zd_xitong.png</string>
        </dict>
    </dict>
</plist>
